body{
    background-color: #40130E;
}
#Cabezal{
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 120px;
    background-image: url("../img/Fondo2.jpg");
}

#Cabezal h1{
    text-align: center;
    font-size: 27pt;
    margin: 0px;
    margin-top: 20px;
    color: #FFE4C4;
}

#Cabezal div{
    margin: 0 auto;
    color: #E5CDB0;
    text-align: center;
}

#Naveg{
    background-color: #8D2A20;
    height: 35px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 120px;
}

#Clearing{
    margin-top: 119px;
}

#Central{
    background-color: #722219;
    height: 75vh;
    margin-top: 155px;
    width: 100.6%;
}
#Inferior{
    background-color: green;
}
#Latiz{
    background-color: #581A13;
    float: left;
    height: 75vh;
    width: 18%;
    /* border-right: solid; */
    margin-left: -7px;
}

#Menu{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#Menu li{
    display: inline-block;
    height: 90%;
    width: 10em;
    line-height: 2em;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}

#Menu li:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#Per,#Ayuda{
    margin-left: -3px !important;
}