body{
    background-color: #C2c2c2;
}
#Cabezal{
    background-color: #A6A6A6;
}

#Naveg{
    background-color: burlywood;
}

#Central{
    background-color: darkseagreen;
}
#Inferior{
    background-color: green;
}
