body{
    background-color: #31353B;
}

#Cuerpo{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 4%;
}
/**/
#Cuadro1{
    width: 23em;
    height: 20em;
    margin: 0 auto;
    background-color: #262A2E;
    border-radius: .3em;
}

ul li{
    display: block;
    margin-top: 1em;
}

#Datos{
    padding: 0px;
    width: 80%;
    margin: 0 auto;
}

#Bien{
    text-align: center;
    color: #838791;
    font-size: 18px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#Usuario,#Passw{
    border-style: none;
    width: 98%;
    height: 1.8em;
    padding-left: 5px;
}

#BtAceptar{
    width: 100%;
    height: 2em;
    background-color: #1CB469;
    border-style: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#Logo{
    background-image: url("../img/Esmirna2.png");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

#EtiAd{
    color: #ffffff;
    font-size: 11pt;
}